/* a {
  /* text-decoration: none; */
 */

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #280274;
}

html, body, #root {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
 
}



@media only screen and (max-width: 600px) {
  .search {
      padding: 20px 15%;
  }

  .beer {
      padding: 40px 20%;
  }
}
